// CSS Global
// -----------------------------------------------------------------------------
html,
body{
	height: 100%;
}

html,
body {
	font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-regular;
	color: $primary-color;
	overflow: visible;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black
}
